.glass {
    background-color: rgba(255, 192, 203, 0.42);
    backdrop-filter: blur(12px) brightness(110%);
}

.project-box.glass{
    background: rgba(255, 210, 215, 0.32);
    backdrop-filter: blur(10px) brightness(120%);
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease;
    border: 2px solid rgba(255, 220, 220, 0.25);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.project-box.glass:hover{
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.link-projects{
    color: black;
    text-decoration: none;
}

.project-line{
    height: 3px;
    width: 750px;
    background-color: black;
}

.footer-icon {
    color: white;
    transition: color 0.3s ease;
}

.footer-icon:hover{
    color: gray;
}